* {
  box-sizing: border-box;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

.grid-col {
  width: 33%;
  display: inline-block;
  flex: 0 1 auto;
  padding: 0 0.938em;
}

.grid-col + .grid-col {
  padding-left: 0;
}

.grid-item {
  margin: 0;
  padding-top: 0.938em;
  position: relative;
}

.grid-item img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.grid-item--hero {
  width: 100%;
  max-width: 100%;
}

@media (max-width: 768px) {
  .grid-col {
    width: 100%;
  }

  .grid-col + .grid-col {
    padding-left: 0.938em
  }

  .grid-col--hero {
    order: -1;
  }
}
