* {
  box-sizing: border-box;
}

.ml {
  margin-top: 0.469rem;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  max-width: 100em;
  margin: 0 auto;
}

.grid-col {
  width: 33%;
  display: inline-block;
  flex: 0 1 auto;
  padding: 0 0.938em;
}

.grid-col + .grid-col {
  padding-left: 0;
}

.grid-col--hero {
  margin-top: 0.469rem;
}

.grid-item {
  flex: 1;
  display: inline-block;
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 3em;
  margin: 0.469em 0;
  background-color: hsl(0, 0%, 75%);
  position: relative;
  box-sizing: border-box;
  transition: box-shadow 0.7s cubic-bezier(0.165, 0.84, 0.44, 1),
              transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.grid-item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: box-shadow 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: inset 0 0 0 0 hsl(0, 0%, 69%),
              inset 0 0 0 0 hsl(0, 0%, 47%);
}

.grid-item--active .grid-item__overlay {
  box-shadow: inset 0 0 0 0.313rem hsl(0, 0%, 69%),
              inset 0 0 0 1.5rem hsl(0, 0%, 47%);
}

.grid-item--active img,
.grid-item--active .tv {
  border-radius: 1rem;
  z-index: 1;
}

.grid-item--active img {
  transform: scale(0.83);
}

.grid-item img {
  display: block;
  position: relative;
  max-width: 100%;
  width: 100%;
  height: auto;
  transform-origin: center;
}

.grid-item--hero {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 0.938em;
}

@media (max-width: 48em) {
  .grid-col {
    width: 100%;
  }

  .grid-col + .grid-col {
    padding-left: 0.938em
  }

  .grid-col--hero {
    order: -1;
  }
}
