* {
  box-sizing: border-box;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

.grid-col {
  width: 100%;
  display: inline-block;
  flex: 0 1 auto;
}

.grid-col--hero {
  order: -1;
}

@media (min-width: 768px) {
  .grid-col {
    width: 33%;
  }
  .grid-col--hero {
    order: 0;
  }
}

.grid-item {
  box-sizing: border-box;
  margin: 0.75em 0 0.75em 0;
  position: relative;
  width: 32%;
  overflow: hidden;
  background-color: light-grey;
}

.grid-item video {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.grid-item--hero {
  padding: 15px;
  width: 100%;
}
