* {
  box-sizing: border-box;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

.grid-col {
  width: 33%;
  display: inline-block;
  flex: 0 1 auto;
  padding: 0 0.938em;
}

.grid-col + .grid-col {
  padding-left: 0;
}

.grid-item {
  margin: 0;
  padding-top: 0.938em;
  position: relative;
  box-sizing: border-box;
  transition: box-shadow 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: inset 0 0 0 0 transparent,
              inset 0 0 0 0 transparent;
}

.grid-item__overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: box-shadow 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: inset 0 0 0 0 transparent,
              inset 0 0 0 0 transparent;
}

.grid-item--active .grid-item__overlay {
  transition: box-shadow 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: inset 0 0 0 0.5rem #cccccc,
              inset 0 0 0 1rem #e6e6e6;
}

.grid-item img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;


}

.grid-item--hero {
  width: 100%;
  max-width: 100%;
}

@media (max-width: 768px) {
  .grid-col {
    width: 100%;
  }

  .grid-col + .grid-col {
    padding-left: 0.938em
  }

  .grid-col--hero {
    order: -1;
  }
}
