/*
/* A flexbox based masony layout
/* Inspired by https://medium.com/@_jh3y/how-to-pure-css-masonry-layouts-a8ede07ba31a#.qwnyovrjm
/* */

.ml {
  justify-content: space-between;
  box-sizing: border-box;
  column-count: 1;
  column-gap: 0;
  position: relative;
}

.ml * {
  box-sizing: border-box;
}

.ml-item {
  overflow: hidden;
  width: 100%;
}

@media (min-width: 768px) {
  .ml-item {
    break-inside: avoid;
  }
}

@media (min-width: 1024px) {
  .ml {
    column-count: 2;
    column-gap: 0.938em;
  }
  .ml-item {
    break-inside: avoid;
  }
}
